.add-task-btn {
	float: right;
	margin-top: 8px;
}

#modal-fieldset {
	border: 1px groove #ddd !important;
}

#modal-legend {
	width: inherit !important;
	padding: 0px 10px !important;
	margin-left: 10px;
	border-bottom: none !important;
}

.disabled-inputs {
	opacity: .5;
}

.due-date-form {
	padding: 0 0 15px 15px;
}

.task-row-btn {
	cursor: pointer;
}

li.active {
	font-weight: 600;
	font-size: 16px;
}

.task-list-tabs {
	opacity: 65%;
	text-decoration: none;
	color: #5a5a5a;
}

@media all and (max-width: 767px) {
	.add-task-btn {
		float: none;
	}
	.details-column {
			display: none !important;
	}
	
	.mobile-table {
		overflow: scroll;
	}

	.table-hover {
		width: 100%;
	}
}

@media all and (max-width: 530px) {
	.details-column {
			display: none !important;
	}
	
	.mobile-table {
		overflow: scroll;
		width: 100%;
	}

	.table-hover {
		width: 500px;
	}
}

/* mozilla responsive table hack  */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}